#
# ADD APP Environment Setting
# Fill NODE_ENV if you want to use cloud database in local
# this .env.local in the end is dosen't matter, because of
# on the production is using OS ENV.
#
# NODE_ENV = "production" or leave empty string
# APP_HOST = "" default is empty string
# PORT = "" default is 3000
#

NODE_ENV=
APP_HOST=
PORT=

#
# Fill with generated SHA1 hash for JWT Secret
#

APP_SECRET_TOKEN=

# ADD FE_URI for Spesific CORS Setting
FE_URI=

#
# The Idea to make different is to make seamlesly switching db config on local development.
# If you want to use cloud database in local fill NODE_ENV with production or leave it empty.
#

# CONFIG DB PRODUCTION
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=

# CONFIG FOR LOCAL
DB_HOST_LOCAL=
DB_USER_LOCAL=
DB_PASS_LOCAL=
DB_NAME_LOCAL=
DB_PORT_LOCAL=

# CONFIG FOR CLOUDINARY (STORAGE CDN)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# SMTP Service 
# This app using any smtp service as mail service provider
# need to modify the ./src/Utils/smtp.js if you want to change mail service provider
SMTP_EMAIL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

#
# Firebase - Admin SDK
# In order to use FCM, please use Admin SDK 
#

FIREBASE_TYPE=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_AUTH_PROVIDER_CERT_URL=
FIREBASE_CERT_URL=
FIREBASE_UNIVERSE_DOMAIN=
